*,
*::after,
*::before {
  box-sizing: border-box;
}

// Remove default margin all elements
* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  position: relative;
}

html,
body {
  font-size: 62.5%; // 1rem - 10px;
  font-family: 'Raleway', sans-serif;
  transition: all 0.5s;
  // color: $color-dark--2;

  @media only screen and (max-width: $bp-mobile) {
    font-size: 50%;
  }
}

// body {
// }

a {
  text-decoration: none;
  color: $color-dark--1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

// Remove list styles on ul
ul {
  list-style: none;
}

// Improve media defaults
img,
video,
picture,
canvas,
svg,
iframe {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  color: inherit;
}
