.hero {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../img/hero.jpg');
  background-size: cover;
  // background-position-y: -3rem;
  background-repeat: no-repeat;
  position: relative;

  height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-mobile) {
    height: 60vh;
  }

  &__content {
    color: $color-white;
    font-size: 3rem;
    text-align: center;

    @media only screen and (max-width: $bp-mobile) {
      font-size: 2rem;
    }

    &--heading {
      font-size: 8rem;
      -webkit-filter: blur(3px);
      filter: blur(3px);
      letter-spacing: -2px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      transition: all 0.5s;

      @media only screen and (max-width: $bp-mobile) {
        font-size: 7rem;
      }

      &:hover {
        filter: blur(0);
        letter-spacing: 0;
      }
    }

    &--tagline {
      font-weight: bold;
    }
  }

  &__form {
    padding: 1rem;
    background-color: $color-white;
    border-radius: 10px;
    width: 50vw;
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-mobile) {
      width: 90%;
      padding: 1.5rem 1rem;
    }

    &--location {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid $color-light--2;
      padding: 0rem 1rem;

      img {
        height: 2rem;
        // animation: rotate 1s ease infinite;
      }

      &-user {
        font-size: 1.3rem;
        margin-left: 0.5rem;
        color: $color-primary;

        @media only screen and (max-width: $bp-mobile) {
          font-size: 1.1rem;
        }
      }

      &-btn {
        padding: 0rem 0.4rem;
        font-size: 1.3rem;
        cursor: pointer;
        border-radius: 10px;
        color: $color-primary;
        background-color: transparent;
      }
    }

    &--spinner {
      height: 2rem;
      width: 2rem;
      fill: $color-primary;
      animation: loader 2s infinite linear;
    }

    &--form {
      display: flex;
      flex-grow: 1;
      justify-content: start;
      align-items: center;
      padding: 0rem 1rem;
      position: relative;

      svg {
        width: 2rem;
        height: 2rem;
        fill: $color-light--2;
      }

      .hero__form--input {
        width: 100%;
        padding: 1rem;
        font-size: 1.5rem;
        color: $color-light--2;

        @media only screen and (max-width: $bp-mobile) {
          font-size: 1.5rem;
        }
      }

      .hero__form--suggestion-box {
        position: absolute;
        background-color: $color-white;
        width: 100%;
        top: 145%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        // border-radius: 10px;
        box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.1);
        transform: translateY(2rem);
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        transition: all 0.5s ease;
      }

      // .suggestion-box__list {
      //   // padding: 0rem 2rem;
      // }

      .suggestion-box__item {
        color: $color-light--2;
        padding: 1.5rem 2rem;
        font-size: 1.4rem;

        &:hover {
          background-color: $color-light--1;
        }
      }
    }
  }

  &__error-popup {
    position: fixed;
    top: 3%;
    right: 3%;
    background: linear-gradient(
      to right,
      rgba($color-primary, 0.8),
      rgba($color-primary, 0.8)
    );
    color: $color-white;
    padding: 2rem 1rem;
    font-size: 1.6rem;
    opacity: 0;
    z-index: 2;
    transform: scale(0.6);
    transition: all 0.5s;

    @media only screen and (max-width: $bp-mobile) {
      top: 1%;
      right: -5%;
      font-size: 2rem;
    }
  }
}
