.recipes {
  &__tab--container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content--container {
  }

  &__content {
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 4rem;
    // overflow-x: scroll;
    column-gap: 2rem;
  }
}

.recipe {
}

.recipe__image {
  border-radius: 1rem;
}

.recipe__name {
}

.recipes__tab--active {
  background-color: $color-dark--2;
  color: $color-white;
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
}
