.recipes {
  &__tab--container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // &__content--container {
  // }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    row-gap: 4rem;
    // overflow-x: scroll;
    column-gap: 2rem;
    position: relative;
  }
}

.recipe {
  // cursor: pointer;
  // height: 100%;
  // width: 100%;

  &:hover .recipe__name {
    text-decoration: underline;
    color: $color-primary;
  }

  &:hover .recipe__image {
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
  }
}

.recipe__image {
  border-radius: 1rem;
  height: 25rem;
  width: 100%;
  transition: all 0.5s;
}

.recipe__name {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.5s;
}

.recipes__tab--active {
  background-color: $color-dark--1;
  color: $color-light--1;
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
