.container {
  width: 90vw;
  margin: 0 auto;
  // padding: 0rem 10rem;
}

.mg-tiny {
  margin: 1rem 0;
}

.mg-small {
  margin: 2rem 0;
}

.mg-medium {
  margin: 4rem 0;
}

.mg-large {
  margin: 5rem 0;
}

.mg-huge {
  margin: 6rem 0;
}

.heading--secondary {
  font-size: 3rem;
  text-transform: uppercase;
}

.text-uppercase {
  text-transform: uppercase;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
