$color-primary: #fd5353;
$color-secondary: #ffd93d;
$color-tertiary: #6bcb77;
$color-other: #4d96ff;

$color-white: #fff;
$color-black: #000;

$color-light--1: #f3f3f3;
$color-light--2: #808080;
$color-dark--1: #333;

[data-theme='dark'] {
  display: none;
}

[data-theme='light'] {
  body {
    // background: #f1f4f8;
    // background: #f1f1f1;
  }

  .header {
    background: $color-white;
  }
}
