$color-primary: #fd5353;
$color-secondary: #ffd93d;
$color-tertiary: #6bcb77;
$color-other: #4d96ff;

$color-white: #fff;
$color-black: #000;

$color-light--1: #f3f3f3;
$color-light--2: #808080;
$color-dark--1: #333;
$color-dark--2: #2d3439;

[data-theme='dark'] {
  .heading--primary,
  .heading--secondary,
  .heading--teritary {
    color: $color-light--1;
  }

  .btn {
    color: $color-black;
  }

  input {
    color: $color-dark--1;
  }

  body {
    background: #0c0b0bf1;
    color: $color-light--1;
  }

  .recipes__content .recipe .recipe__name {
    color: $color-light--1;
  }

  .recipes__tab--container .recipes__tab {
    background-color: $color-dark--1;
    color: $color-light--1;
  }

  .recipes__tab--container .recipes__tab--active {
    background-color: $color-light--1;
    color: $color-black;
  }

  .spinner {
    fill: $color-light--1;
  }

  .footer {
    background-color: $color-dark--1;
  }
}

// [data-theme='light'] {
// }
